@charset "utf-8";
@import url(reset.css);
@font-face {
    font-family: 'NanumSquare';
    src: local('font/NanumSquare'),
        url('../font/NanumSquareR.ttf'),
        url('../font/NanumSquareR.eot'),
        url('../font/NanumSquareR.woff');
}
@font-face {
    font-family: 'NanumSquareL';
    src: url('../font/NanumSquareL.ttf'),
        url('../font/NanumSquareL.eot'),
        url('../font/NanumSquareL.woff');
}
@font-face {
    font-family: 'NanumSquareB';
    src: url('../font/NanumSquareB.ttf'),
        url('../font/NanumSquareB.eot'),
        url('../font/NanumSquareB.woff');
}
@font-face {
    font-family: 'NanumSquareEB';
    src: url('../font/NanumSquareEB.ttf'),
        url('../font/NanumSquareEB.eot'),
        url('../font/NanumSquareEB.woff');
}

html,body {
    font-family: 'NanumSquare';
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #1c1c1b;
}


figure {
    max-width: 100%;
    height: 500px;
    position: relative;
    background: url(../images/centerBg.png) bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#figureTxt {
    max-width: 1024px;
    margin: 0 auto;
    padding: 160px 20px 0 20px;
    color: #f9f9f9;
}
#figureTxt > h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 75px;
    margin-bottom: 50px;
}
#figureTxt > span {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
}
#figureTxt > .fa-home, .right {
    color: #e8ba00;
    font-size: 14px;
}




#container {
    max-width: 100%;
    margin: 50px auto 100px auto;
    position: relative;
}
.map {
    display: block;
    width: 1024px;
    height: 450px;
    margin: 0 auto;
}
.map_contents {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    border-bottom: 1px solid #bbbbbb;
}
.map_contents:after {
    content: '';
    display: block;
    clear: both;
}
.map_contents > .address {
    width: 64%;
    float: left;
    padding: 20px;
}
.map_contents > .address > h3 {
    width: 180px;
    float: left;
}
.map_contents > .address > p {
    float: left;
    padding: 10px 0 0 25px;
    font-family: "NanumSquareB";
    font-size: 18px;
}
.map_contents > ul {
    width: 36%;
    float: left;
    padding-top: 40px;
}
.map_contents > ul:after {
    content: '';
    display: block;
    clear: both;
}
.map_contents > ul > li {
    float: left;
    margin-right: 10px;
}
.map_contents > ul > .icon {
    width: 30px;
}
.map_contents > ul > .text {
    color: #1c1c1b;
    line-height: 30px;
    margin-right: 20px;
}


@media (min-width: 1025px) and (max-width: 1280px) {



}

@media (min-width: 768px) and (max-width: 1024px) {
    .map {
        width: 95%;
        height: 450px;
    }
    .map_contents {
        max-width: 95%;
    }
    .map_contents > .address {
        width: 80%;
        padding-bottom: 0;
    }
    .map_contents > ul {
        width: 100%;
        padding : 20px 0 10px 30px;
    }


    
}

@media (min-width: 481px) and (max-width: 767px) {
    #figureTxt > h2 {
        font-size: 65px;
    }
    
    .tab {
        width: 100%;
        height: 55px;
        line-height: 55px;
    }
    .tab > li {
        font-size: 17px;
    }
    
    
    .map {
        width: 95%;
        height: 450px;
    }
    .map_contents {
        max-width: 95%;
    }
    .map_contents > .address {
        width: 100%;
        padding: 20px;
        padding-bottom: 0;
    }
    .map_contents > .address > h3 {
        width: 160px;
    }
    .map_contents > .address > p {
        padding: 10px 0 0 15px;
        font-size: 17px;
    }
    .map_contents > ul {
        width: 100%;
        padding : 20px 0 10px 30px;
    }
    .map_contents > ul > li {
        margin-right: 10px;
    }
    .map_contents > ul > .icon {
        width: 25px;
    }


    
}

@media all and (max-width: 480px) {   
    #figureTxt > h2 {
        font-size: 55px;
    }
    #figureTxt > span {
        font-size: 15px;
    }
    #figureTxt > .fa-home, .right {
        font-size: 13px;
    }
    
    
    .map {
        width: 95%;
        height: 450px;
    }
    .map_contents {
        max-width: 95%;
    }
    .map_contents > .address {
        width: 100%;
        padding: 10px 5px 0 5px;
        padding-bottom: 0;
    }
    .map_contents > .address > h3 {
        width: 160px;
    }
    .map_contents > .address > p {
        padding: 10px 0 0 5px;
        font-size: 16px;
    }
    .map_contents > ul {
        width: 100%;
        padding : 20px 0 10px 10px;
    }
    .map_contents > ul > li {
        margin-right: 10px;
        font-size: 14px;
    }
    .map_contents > ul > .icon {
        width: 25px;
    }


}
